<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391732668430-e7100v6l7ac8i01khkcc17nelpu2h34p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391732668430-e7100v6l7ac8i01khkcc17nelpu2h34p</string>
	<key>API_KEY</key>
	<string>AIzaSyDqPoTZphnKhA1aTJ6GOjywTlAoDjwid6U</string>
	<key>GCM_SENDER_ID</key>
	<string>391732668430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silentiumapps.fillsmart</string>
	<key>PROJECT_ID</key>
	<string>fillsmart-development</string>
	<key>STORAGE_BUCKET</key>
	<string>fillsmart-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391732668430:ios:db7536f6fe4a20f722b45f</string>
	<key>DATABASE_URL</key>
	<string>https://fillsmart-development.firebaseio.com</string>
</dict>
</plist>